:root {
    --black: rgb(40, 40, 40);
    --white: rgb(240, 240, 240);
    --orange: rgb(245, 120, 25);
    --orangeLight: rgb(255, 150, 70);
    --orangeDark: rgb(200, 90, 35);
    --red: rgb(255, 36, 0);
    --gray: rgb(130, 130, 130);
    --grayLight: rgb(150, 150, 150);
    --hdrFontFam: 'Poppins', sans-serif;
    --FontFam: 'Roboto-mono', monospace;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: var(--gray);
    font-family: var(--FontFam);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--hdrFontFam);
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

h4 {
   font-weight: 600; 
}

p, label {
    line-height: 1.5;
    font-size: 1.1rem;
    margin-bottom: 1.0rem;
}

a, a:visited {
    color: var(--orange);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--white);
}

a:active {
    color: var(--red);
    text-decoration: underline;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

 img.profilePic {
    border-radius: 6px;
    box-shadow: 5px 5px 5px var(--black);
 }

header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    border-bottom: 2px solid var(--orange);
}

header h1 {
    text-align: center;
    padding-top: .5rem;
    margin-bottom: 0;
}

header h1 a:active {
    text-decoration: none;
}

.myName {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.tagLine {
    font-family: var(--FontFam);
    color: var(--orange);
    font-size: 1.25rem;
}

nav {
    font-size: 1.15rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    display: block;
    padding: .5rem;
}

nav ul li a:hover {
    background-color: var(--gray);
}

#hero,
#about,
#portfolio,
#contact {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#hero {
    /* BACKGROUND IMAGE PROVIDED BY UNSPLASH.COM AT https://unsplash.com/photos/y6NyYpl89JM */
    background-color: var(--orange);
    background-image: url(../img/emerson-peters-y6NyYpl89JM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid var(--black);
    min-height: 50vh;
    display: flex;
    align-items: center;
}

#hero .content {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 6px;
    max-width: 900px;
}

#about {}

#portfolio {
    background-color: var(--orange);
}

.projects {
    display: flex;
    flex-direction: column;
}

.projectCard {
    background-color: var(--white);
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px var(--orangeDark);
}

.projectCard:hover {
    background-color: var(--grayLight);
    box-shadow: 5px 5px 5px var(--red);
}

.projectCard:last-of-type {
    margin-bottom: 0;
}

#contact {
    background-color: var(--grayLight);
}

.content {
    width: 90%;
    padding: 4%;
}

form {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 10px 10px 6px 0px rgba(90,90,90,1);
    max-width: 900px;
}

label {
    display: block;
    margin-bottom: 2%;
}

input,
textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    border-style: none;
}

input {}

textarea {
    resize: none;
}

button {
    display: block;
    margin: 0 auto;
    background-color: var(--orange);
    border-radius: 6px;
    border-style: none;
    padding: 2%;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    color: var(--white);
}

button:active {
    color: var(--black);
    background-color: var(--red);
}

/* SITE FOOTER STYLES */

footer {
    background-color: var(--black);
    padding: 4% 5%;
    color: var(--white);
    border-top: 2px solid var(--orange);
    font-size: 1.2rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.0rem;
}

footer ul li {
    margin-right: 6%;
}