:root {
    --black: rgba(40, 40, 40, 1);
    --white: rgba(240, 240, 240, 1);
    --orange: rgba(255, 144, 52, 1);
    --red: rgba(255, 36, 0, 1);
    --gray: rgba(130, 130, 130, 1);
    --grayLight: rgba(150, 150, 150, 1);
    --hdrFontFam: 'Poppins', sans-serif;
    --FontFam: 'Roboto-mono', monospace;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray);
    font-size: 18px;
    font-family: var(--FontFam);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--hdrFontFam);
    margin-bottom: 1em;
}

p, label {
    line-height: 1.5;
}

a, a:visited {
    color: var(--orange);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--white);
}

a:active {
    color: var(--red);
    text-decoration: underline;
}

/* SITE HEADER STYLES */

header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    color: var(--white);
    border-bottom: 2px solid var(--orange);
    box-shadow: 0px 10px 5px 0px rgba(90,90,90,1);
}

#myName {
    font-size: 150%;
    font-weight: 700;
    color: var(--white);
}

#tagLine {
    font-family: var(--txtFontFam);
    color: var(--orange);
}

header h1 {
    margin: 0;
}

header h1 a:active {
    text-decoration: none;
}

/*
nav {}
*/

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 60px;
    list-style: square;
    color: var(--black);
}

nav ul li:hover{
    color: var(--gray);
}

/* SITE MAIN CONTENT STYLES */

main {
    height: 100vh;
}

/* SITE FOOTER STYLES */

footer {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    color: var(--white);
    border-top: 2px solid var(--orange);
    box-shadow: 0px -10px 5px 0px rgba(90,90,90,1);
}

.halfContent {
    width: 50%;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-right: 40px;
}