:root {
    --black: rgba(40, 40, 40, 1);
    --white: rgba(240, 240, 240, 1);
    --orange: rgba(255, 144, 52, 1);
    --red: rgba(255, 36, 0, 1);
    --gray: rgba(130, 130, 130, 1);
    --grayLight: rgba(150, 150, 150, 1);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    background-color: var(--gray);
}

h1 {
    font-size: 160%;
    font-weight: 700;
    text-transform: uppercase;
}

h2, h3, h4 {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-size: 160%;
    text-align: center;
}

h3 {
    font-size: 140%;
    text-align: center;
}

h4 {
    font-size: 120%;
}

p, label {
    font-size: 100%;
    line-height: 1.5;
    margin-bottom: 10px;
}

a, a:visited {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    color: var(--white);
}

a:active {
    color: var(--red);
    text-decoration: underline;
}

form {

}

input {

}

textarea {
    
}

button {

}

header, footer {
    background-color: var(--black);
    color: var(--white);
}

header {
    padding: 20px 0;
}

#headerContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

header img {
    margin-right: 20px;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 60px;
}

main {

}

header, footer, #hero, #portfolio, #about, #resume, #contact {
    display: flex;
    justify-content: center;
}

.fullContent {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.halfContent {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#hero {
    background-color: var(--orange);
    height: 90vh;
    align-items: center;
}

#heroContent {
    width: 60%;
    background-color: var(--white);
    padding: 40px;
}

#portfolio {
    background-color: var(--grayLight);
}

#about {

}

#resume {
    background-color: var(--grayLight);
}

#contact {

}

footer {
    padding: 40px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-right: 80px;
}